@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --background-primary: 254 242 242;
    --background-light: 248 250 252;
    --background-gray: 241 245 249;
    --foreground: 0 0 0;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 255 81 81;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 226 232 240;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --text: 15 23 42;
    --text-title: 15 23 42;
    --text-body: 51 65 85;
    --text-sub: 100 116 139;
    --text-foreground: 255 255 255;

  }

  .dark {
    --background: 0 0 0;
    --background-primary: 254 242 242;
    --background-light: 248 250 252;
    --background-gray: 241 245 249;

    --foreground: 248 250 252;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --border: 51 65 85;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --text: 15 23 42;
    --text-title: 15 23 42;
    --text-body: 51 65 85;
    --text-sub: 100 116 139;
    --text-foreground: 255 255 255;
  }
}
@layer base {
  html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 100vw;
    height: 100vh;
}
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text w-full h-full overflow-x-hidden;
  }
}

@layer components {

  .text-title-lg{
    @apply font-semibold text-2xl leading-8
  }
  .text-title-md{
    @apply font-semibold text-xl leading-7
  }
  .text-title-sm{
    @apply font-semibold text-base leading-6
  }
  .text-body-lg{
    @apply font-medium text-base leading-6
  }
  .text-body-md-m{
    @apply font-medium text-sm leading-5
  }
  .text-body-md-n{
    @apply font-normal text-sm leading-5
  }
  .text-body-sm-m{
    @apply font-medium text-xs leading-4
  }
  .text-body-sm-n{
    @apply font-normal text-xs leading-4
  }


.page-frame {
  @apply container w-full h-full flex flex-row gap-0 border-x
}

.page-contents {
 @apply w-full h-full flex flex-col
}

.page-section {
  @apply w-full h-full flex flex-col
}
}